body{
background-color:#7A7A7C;
font-family: 'Source Sans Pro', sans-serif;
}
body #main{
color:#000;
margin:0 auto;
width: 90%;
background-color:#FFF;
background-size:100% 100%;
padding;
font-family: 'Source Sans Pro', sans-serif;
}

h2{
font-weight:bold;
font-size:40px;
color:#7A7A7C;
}
#intro{
background-color:#F278B7;	
clear:both;
padding: 5px;
}	